<?xml version="1.0" encoding="utf-8"?>
<!-- Aucune permission, pas même internet : rien ne peut quitter le téléphone. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="skred"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="false"
        android:theme="@style/Skred">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- « Partager » depuis la galerie : la vidéo ou la photo s'ouvre dans skred. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fr.skred.app.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
